This webapp provides authenticated access to sites for CTools data collection.
<p/>
To use this go to the url: 
http://&lt;host&gt;:&lt;port&gt;/datajsp/stats/dbstats.jsp?f=&lt;propertiesPath
file&gt;

A test url is:
<pre>
http://&lt;host&gt;:&lt;port&gt;/datajsp/stats/test/testDbConn.jsp?f=&lt;propertiesPath/properties file&gt;
</pre>
<p/>
The properties file contains authentication creditals to allow the
servlet to access a database to retrieve metrics.  This properties file
must be in a location accessable from the servlet.  It does not need
to be in the web server container.  See the sample properties files
for the required format.
<p/>
The servlet also take the query parameter 't'.  If this is set to any
value besides 0 the servlet will print additional debugging
information.
<p/>
The output format is pipe ('|') separated values where the first value
is a label and the remaining values are query dependent.
<p/>
Example output is:
<pre>
dbmetric|Buffer Cache Hit Ratio|100|0|
dbmetric|Memory Sorts Ratio|100|0|
dbmetric|Redo Allocation Hit Ratio|100|0|
dbmetric|User Transaction Per Sec|.251340482573727|0|
dbmetric|Physical Reads Per Sec|.150804289544236|0|
dbmetric|Physical Reads Per Txn|.6|0|
dbmetric|Physical Writes Per Sec|.0670241286863271|0|
dbmetric|Physical Writes Per Txn|.266666666666667|0|
dbmetric|Physical Reads Direct Per Sec|.150804289544236|0|
dbmetric|Physical Reads Direct Per Txn|.6|0|
dbmetric|Physical Writes Direct Per Sec|0|0|
dbmetric|Physical Writes Direct Per Txn|0|0|
dbmetric|Physical Reads Direct Lobs Per Sec|.150804289544236|0|
dbmetric|Physical Reads Direct Lobs Per Txn|.6|0|
</pre>

<p/>
This format is particuarly suitable for consumption by Cacti.